.runItemButton {
  margin-top: 15px;
  text-align: center;
  border: 1px dashed #A3FFEE;
}

.plusButton {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 20px 0px;
  border: 1px dashed #d2eef0;
  border-radius: 50%;

  
  color: #89F7E2;
  font-size: 36px;
}

.runItemButton:hover {
  border: 1px solid #89F7E2;
  background: #89F7E2;
  box-shadow: -3px -3px #d2eef0;
}

.runItemButton:hover .plusButton {
  color: #d2eef0;
}

@media screen and (max-width: 1024px) {
  .plusButton {
    margin: 10px 0px;
    width: 30px;
    height: 30px;

    font-size: 22px;
  }
}